# Acceptance tests
## Results
### Results 23.4.2026

|                     Test Case                      | Test engineer 1 | Test engineer 2 | Test engineer 3 | Test engineer 4 |
|:--------------------------------------------------:|:---------------:|:---------------:|:---------------:|:---------------:|
|       1. Player can place a tile to the grid       |      PASS       |      PASS       |      PASS       |      PASS       |
|  2. Player can rotate the tile to any orientation  |      PASS       |      PASS       |      PASS       |      PASS       |
| 3. Player can see all placeable cells in the grid  |     FAILED      |      PASS       |      PASS       |      PASS       |
|    4. Player can see how many Meeples they have    |      PASS       |      PASS       |      PASS       |      PASS       |
|          5. Player can create an account           |     FAILED      |     FAILED      |     FAILED      |     FAILED      |
|          6. Player can save a game state           |      PASS       |      PASS       |      PASS       |      PASS       |
|          7. Player can load a game state           |      PASS       |      PASS       |      PASS       |      PASS       |
|     8. Player can place a Meeple into the tile     |      PASS       |      PASS       |      PASS       |      PASS       |
|                9. Player can login                 |     FAILED      |      PASS       |      PASS       |      PASS       |
| 10. Player can finish the game and see the results |      PASS       |      PASS       |      PASS       |     FAILED      |


